<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>prestige-autos</title>
</head>
<body>

  <% if (locals.images) {%>
    <% if (images.length  > 0) { %>
      <img src='<%=images[0].url%>'  />
      <% } %>
  <%} %>

  <form action="/uploads" method="post" enctype="multipart/form-data">
    <input type="file" name="image" id="image">
    <button type="submit">Upload</button>
  </form>


  
</body>
</html>