.explore {
  margin-top: 50px;
  height: 3000px;
  display: flex;
  flex-direction: column;
}

.explore-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  line-height: 1.8;
}

.explore-info h2 {
  font-size: 27px;
  font-weight: 700;
  width: 30%;
}

.explore-info p {
  font-size: 13px;
  font-weight: 500;
  width: 30%;
}

.explore-cars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 85%;
}

.pagination {
   margin-top: 100px;
    display: flex;
    justify-content: space-between;
  
}

@media only screen and (max-width: 860px) {
  .explore {
    height: 5500px;
  }
  .explore-cars {
    height: 90%;
  }
}

@media only screen and (max-width: 600px)  {
  .explore {
    margin: 0 19px;
    height: 6300px;
  }
  .pagination {
    margin-top: 150px; 
 }

 .explore-info h2 {
  font-size: 21px;
  font-weight: 500;
  width: 30%;
}

.explore-info p {
  font-size: 13px;
  font-weight: 500;
  width: 40%;
}
}