header {
  margin: 15px 0;
  font: inherit;
  border-bottom: 1px solid #7D7C7C;
  padding-bottom: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 10px;
}
a {
  font-size: inherit;
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
}
