footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 50px;
  
  border-top: 1px solid #7D7C7C;
}

.footer-info, .footer-logo {
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer-logo h4, .footer-info h4{
font-size: 16px;
font-weight: 400;
margin-bottom: 20px;
}


.footer-logo div{
  margin-top: 20px;
}

.footer-logo span{
margin-right: 20px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.footer-info div span {
  display: block;
  margin-top: 10px;
  font-family: 16px;

}