footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 50px;
  
  border-top: 1px solid #7D7C7C;
}

.footer-info, .footer-logo {
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer-logo h4, .footer-info h4{
font-size: 16px;
font-weight: 400;
margin-bottom: 20px;
}


.footer-logo div{
  margin-top: 20px;
}

.footer-logo span{
margin-right: 20px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.footer-info div span {
  display: block;
  margin-top: 10px;
  font-size: 16px;

}


@media only screen and (max-width:600px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 0 50px 0;
  }

  .footer-info, .footer-logo {
    width: 90%;
    font-size: 13px;
font-weight: 300;
margin: 0 20px;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-logo div:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }

  .footer-info {
    /* margin-right: 40px; */
    margin: 30px 0px;
  }

  .footer-info div span {
 
    font-size: 12px;
  
  }
}